@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Slab:wght@300;400;700&family=Julius+Sans+One&display=swap');

* {

    margin: 0;
    padding: 0;


}
.body{
    background-color: blue;
}

.main-header{
    
    position:sticky;
    top: 0;
    z-index: 20;
    background-color: rgba(230, 247, 247, 0.096);
    backdrop-filter: blur(1px);
    
}

.icon-top{

    width: 250px;
    height: 80px;
    padding-left: 70px;

}


.navbar-custom{
    /* background-color: rgba(45, 75, 228, 0.886); */
    background-color: rgba(61, 61, 61, 0);
}


.navbarul-custom{

    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 15px;
    gap: 10px;

}
.navbarul-custom a{

    font-family:'Josefin Slab';
    font-size: 20px;
    font-weight: bold;
    color:rgb(190, 160, 25);
}
.navbarul-custom a:hover{
    color: rgba(232, 217, 4, 0.768);
}

.formulario_busca{
    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(0, 53, 150);
    color: aliceblue;
}
.select-custom{

    max-width: 250px ;


}
.bttn_search{

    font-family:'Josefin Slab';
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    padding: 10px;
    background-color: rgba(0, 52, 150, 0);
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    
    
}
.bttn_search:hover{

    transform: scale(1.1);
    background-color: white;
    color: black;
}


.formulario_busca img{
    width: 50px;
    height: 50px;
}

.media-picturep1{
    height: 93vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-welcome img {

    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}

.section-hotel{

    width: 100%;
    height: 150vh;
}

.section-hotel-exclusive{

    width: 100%;
    height: 90vh;
}

.name-section {

    width: 95%;    
    font-family:'Josefin Slab';    
    font-weight: 700;
    
    margin: 30px;   


}



.name-section span{

    font-size: 25px;
}

.name-section span:hover{

    color: #f0c509;
    cursor:pointer ;
    transition: 650ms;

}

.name-section p {

    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    
}
   

.info-pag {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    margin-top: 50px;
    gap: 30px;  

}


.list-serve {

    list-style: none;
    
}

.info-pag h2 {

    font-family:'Josefin Slab';
    font-weight: bold;
    font-size: medium;
    font-size: 20px;
    text-align: center;

}

.info-main {
    width: 300px;
    background-color: rgba(157, 157, 163, 0.103);
    padding: 15px;
    border-radius: 20px;
    transition: 1000ms;    
    flex-wrap: wrap;
    justify-content: center; 
}

.main-site-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    min-height: 177px;
    background-color: #012407;
}

.banner-section {

    max-width: 500px ;
    max-height: 300vh ;
    margin-left: 30px;
    object-fit: contain;

}


.button-section {

    width: 320px;
    align-content: center;
    margin: 60px auto;
}

.button-reserv {

    width: 100%;
    margin: 0 auto;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Josefin Slab' ;
    font-weight: bold;
    background-color: #003596;
    color: white;
    border: none;
    transition: 500ms;
     
}


.button-reserv:hover {

    scale:calc(1.1);
    background-color: #0446c0;

}

.video-main {

    width: 560px;
    height: 315px;
    margin: 25px auto;
    margin-bottom: 60px;
    
}


.video-pag {

    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}


.footer{
    
    width: 100%;
    height: 20vh;
}
.footer-content{

    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.footer-content h1{

    font-family: 'Josefin Slab ';
    color:white;

}

.custom-icon{

    width: 200px;
    height: 200px;

}

.custom-icon img{

    width: 130px;
    height: 130px;
    border-radius: 50%;
    

}

.video-style {
    width: 1077px;
    height: 534px;
    background-color: white;
    border-radius: 31px;
    overflow: hidden;
    position: relative;
}


/* PARTE DO RESPONSIVO */

@media (max-width: 768) {

    .video-main {

        width: 360px;
        height: 215px;
       
    }


}

@media (max-width: 425px) {
    

    .formulario_busca{
        width: 100%;
        height:fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        background: linear-gradient(to right, #011a8e, #336bff );
        color: aliceblue;
    }  
    
    .video-main {

        width: 350px;
        height: 215px;
       
    }


    .footer-content{

        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    


    
}
@media (max-width: 375px) {
    .promo{

        left: 310px;
        
    }

    .video-main {

        width: 300px;
        height: 215px;
       
    }
}
@media (max-width: 320px) {
    .promo{

        left: 250px;
        
    }


    .button-section {

        width: 250px;
        align-content: center;
        margin: 60px auto;
    }
}